*{margin:0;padding:0;box-sizing:border-box}

body{
  font-family:'Poppins',sans-serif;
  background:linear-gradient(#ffd6e8,#fff);
  overflow:hidden;
}

.slide{
  width:100vw;
  height:100vh;
  display:none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
  position:relative;
}

.slide.active{display:flex}

h1{
  font-family:'Pacifico';
  color:#ff5da2;
  margin-bottom:10px;
}

button{
  padding:12px 26px;
  border:none;
  border-radius:30px;
  background:#ff5da2;
  color:white;
  font-size:16px;
  margin-top:20px;
}

/* MUSIC PLAYER */
#musicPlayer{
  position:fixed;
  top:10px;
  right:10px;
  z-index:999;
}

/* GAME */
#gameArea{
  width:100%;
  height:70vh;
  background:#fff0f7;
  border-radius:20px;
  position:relative;
  overflow:hidden;
}

.butterfly{
  width:60px;
  position:absolute;
  cursor:pointer;
}

/* DECOR EMOJI */
.emoji{
  position:absolute;
  font-size:24px;
  animation:fall 6s linear infinite;
  pointer-events:none;
}

@keyframes fall{
  from{top:-30px}
  to{top:110vh}
}

/* SPOTIFY */
.spotify{
  background:#121212;
  color:white;
  padding:20px;
  border-radius:20px;
  width:300px;
}

/* FINAL */
#finalText{
  max-height:60vh;
  overflow-y:auto;
  line-height:1.8;
}
